.container {
    display: flex;
    flex-direction: row;
}
 
.header {
    width: 100%;
    height: 100px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.header a {
    text-decoration-line: none;
    color: inherit;
}