.container {
    display: flex;
    flex-direction: column;
}

.day-type {
    display: flex;
    flex-direction: row;
}

.daily {
    width: 100%;
    background-color: rgb(235, 235, 235);
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}

.go-home {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 235, 235);
    text-align: center;
}

.go-daytype {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    background-color: rgb(235, 235, 235);
    text-align: center;
}